*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    /*bottom padding for footer*/
    /*padding-bottom: 70px;*/
}

p {
    margin: .5em 0;
}

a {
    text-decoration: none;
}

.website-title {
    text-decoration: underline;
    font-size: 1.2em;
    font-weight: bold;
}

.container h1 {
    text-align: center;
}

.website-list {
    border: 2px solid;
    border-radius: 5px;
}

.sidebar {
    border: 2px solid;
    border-radius: 5px;
}

.website-list li {
    margin-bottom: 1em;
}

/*Form*/

/*fieldset {*/
    /*width: 720px;*/
    /*margin: 0 auto;*/
/*}*/

/*legend {*/
    /*font-size: 2em;*/
    /*margin-bottom: 10px;*/
/*}*/

/*label {*/
    /*width: 100px;*/
    /*font-weight: bold;*/
    /*text-align: right;*/
    /*float: left;*/
/*}*/

/*input {*/
    /*width: 500px;*/
    /*float: left;*/
/*}*/

/*select {*/
    /*width: 100px;*/
/*}*/

/*input, textarea, select {*/
    /*margin: 5px;*/
/*}*/

/*textarea {*/
    /*width: 500px;*/
    /*height: 200px;*/
/*}*/

/*input[type="submit"] {*/
    /*margin-left: 105px;*/
    /*width: 100px;*/
/*}*/

.navbar-bottom {
    margin: 20px 0 0;
}

.navbar-footer {
    text-align: center;
    color: #fff;
}